# Python
venv/
__pycache__/
*.pyc
.env

# IDE
.vscode/
.idea/
*.iml

# Data
*.csv
*.json
*.db
*.sqlite3
chroma.sqlite3

# Other
.DS_Store
rag_fundamentals/chroma_db/
langchain-fundamentals/chroma_db/
langchain-fundamentals/downloads/
langchain-fundamentals/subtitles/
advanced-rag/chromadb/
advanced-rag/data/